@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* banner container styles start here */
.banner-container {
    width: 1365px;
    height: 550px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 100px;
    background-image: url(../assets/banner-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner contents styles start here */
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 28px;

}
.second-banner-content {
    text-align: center;
}
.second-banner-content h1{
    font-size: 36px;
    margin-bottom: 16px;
}
.second-banner-content p {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 45px;
}
.second-banner-content button {
    color: white;
    background-color: #0D1321;
    padding: 15px 20px;
    font-weight: 600px;
    font-size: 15px;
    border-radius: 5px;
}
/* banner contents styles end here */
/* banner container styles end here */


/* <!-- web development section styles start here --> */
.web-development-container {
    width: 1365px;
    height: 1200px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 64px;
}
.web-development-first-content {
    text-align: center;
}
.web-development-first-content h1{
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 20px;
}
.web-development-first-content p {
    font-weight: 400px;
    font-size: 13px;
    margin-right: 200px;
    margin-left: 200px;
}
.web-development-second-content, .web-development-fourth-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 145px 80px 145px;
}
.content-header {
    font-weight: bold;
    font-size: 22px;
    color: #555963;
}
.content-paragraph {
    font-size: 14px;
    color: #555A63;
    margin: 20px 0;
    margin-right: 300px;
}
.content-button {
    padding: 10px 10px;
}
.web-development-third-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 145px 80px 145px;
    gap: 378px;
}
.third-content-paragraph {
    font-size: 14px;
    color: #555A63;
    margin: 20px 0;
}

/* <!-- my inspiration section styles start here --> */
.inspiration-content {
    width: 1365px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 64px;
    text-align: center;
}
.inspiration-header {
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 20px;
}
.inspiration-paragraph {
    font-weight: 400px;
    font-size: 13px;
    margin-right: 200px;
    margin-left: 200px;
}
.inspiration-container {
    display: flex;
    flex-direction: column;
}
.youtube-video{
    margin-top: 60px;
    margin-bottom: 140px;
}
/* <!-- my inspiration section styles end here --> */

/* <!-- My Current Target section styles start here --> */
.target-container {
    width: 1365px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
    margin-top: 140px;
}
.inspiration-images {
    width: 300px;
    height: 250px;
    border: 2px solid green;
    margin-top: 40px;
    text-align: left;
}
.inspiration-image-one {
    margin-bottom: 15px;
}
.inspiration-header-one {
    margin-bottom: 10px;
}
.inspiration-paragraph-one {
    margin-bottom: 15px;
}
.inspiration-images-container {
    display: flex;
    justify-content: space-around;
}
/* <!-- My Current Target section styles end here --> */ */
